<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/css/main.css" />
		<title>SignMe - Check Signature - {{ context.method }}</title>
	</head>
	<body class="dark:bg-slate-900 dark:text-white text-black bg-gray-50">
		<h1 class="relative mt-12 mx-6 text-5xl font-serif text-center uppercase">
			<span
				id="back"
				class="absolute left-0 p-3 material-icons text-xl flex justify-self-start"
			>
				arrow_back
			</span>
			Sign Me
		</h1>
		<form
			method="POST"
			enctype="multipart/form-data"
			class="flex flex-col gap-6 w-full px-6 py-12"
		>
			<div class="flex flex-col gap-2 bg-gray-100 rounded">
				<label
					class="w-full px-3 py-2 rounded font-sans uppercase font-medium text-center bg-green-500 text-white"
				>
					Choose file
					<input type="file" name="source" id="source" class="hidden" />
				</label>
				<div
					id="sourcePreview"
					class="w-full h-12 flex flex-row gap-2 items-center text-black"
				>
					<span class="hidden material-icons p-2 text-green-500">
						description
					</span>
					<span class="flex-1 text-base text-center">File not selected</span>
					<span class="hidden material-icons p-2 text-black/20 cursor-pointer">
						close
					</span>
				</div>
			</div>
			
			<div class="flex flex-col gap-2 bg-gray-100 rounded">
				<label
					class="w-full px-3 py-2 rounded font-sans uppercase font-medium text-center bg-amber-500 text-white"
				>
					Choose signature file
					<input type="file" name="signature" id="signature" class="hidden" />
				</label>
				<div
					id="signaturePreview"
					class="w-full h-12 flex flex-row gap-2 items-center text-black"
				>
					<span class="hidden material-icons p-2 text-amber-500">
						description
					</span>
					<span class="flex-1 text-base text-center">File not selected</span>
					<span class="hidden material-icons p-2 text-black/20 cursor-pointer">
						close
					</span>
				</div>
			</div>
			
			<div class="flex flex-col gap-2 bg-gray-100 rounded">
				<label
					class="w-full px-3 py-2 rounded font-sans uppercase font-medium text-center bg-blue-500 text-white"
				>
					Choose public key
					<input type="file" name="publicKey" id="publicKey" class="hidden" />
				</label>
				<div
					id="publicKeyPreview"
					class="w-full h-12 flex flex-row gap-2 items-center text-black"
				>
					<span class="hidden material-icons p-2 text-blue-500">
						description
					</span>
					<span class="flex-1 text-base text-center">File not selected</span>
					<span class="hidden material-icons p-2 text-black/20 cursor-pointer">
						close
					</span>
				</div>
			</div>
			<input class="bg-blue-500 px-3 py-2 rounded" type="submit" value="Check signing" />
		</form>
		<script defer src="/js/utils.js"></script>
		<script defer src="/js/sign.js"></script>
	</body>
</html>
