<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width= device-width , initial-scale= 1.0 " />
		<link rel="stylesheet" href="/css/main.css" />
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<title>SignMe - {{ context.method }}</title>
	</head>

	<body class="dark:bg-slate-900 dark:text-white text-black bg-gray-50">
		<h1 class="relative mt-12 mx-6 text-5xl font-serif text-center uppercase">
			<span
				id="back"
				class="absolute left-0 p-3 material-icons text-xl flex justify-self-start"
			>
				arrow_back
			</span>
			Sign Me
		</h1>
		<div class="flex flex-col py-12 px-6">
			<h3 class="text-2xl text-center">Generate {{ context.method }} keys</h3>
			<form
				class="mt-4 w-full"
				action="/generate/{{ context.method_url }}"
				method="post"
			>
				<div class="w-full items-center justify-between gap-4 flex flex-row">
					<label for="complexity" class="text-sm text-white">Complexity</label>
					<input
						class="text-black"
						id="complexity"
						name="complexity"
						type="number"
						min="{{ '4' if context.method_url == 'elgamal' else '128' }}"
						max="{{ '32' if context.method_url == 'elgamal' else '512' }}"
						step="{{ '2' if context.method_url == 'elgamal' else '8' }}"
						value="{{ '16' if context.method_url == 'elgamal' else '256' }}"
					/>
				</div>
				<input
					class="w-full mt-4 px-3 py-2 text-center text-white bg-green-600 rounded"
					type="submit"
					value="Generate"
				/>
			</form>
		</div>
		<script defer src="/js/utils.js"></script>
	</body>
</html>
